<mat-card style="padding: 16px">
  <mat-card-header
    style="display: flex; justify-content: center; padding: 10px"
  >
    <mat-card-title>Iniciar sesión</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input
            type="Password"
            matInput
            placeholder="Contraseña"
            formControlName="password"
          />
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>
    </form>
  </mat-card-content>
  <mat-card-actions class="button">
    <button type="submit" [disabled]="loginForm.invalid" mat-raised-button>
      Iniciar sesión
    </button>
  </mat-card-actions>
</mat-card>
